.spinnerComponentWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    
    .spinnerWrapper {
        display: flex;
        gap: 5px;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}